@import '../css/normalize.scss';
//Mixins
@mixin font-lato {
font-family: 'Lato', sans-serif;
}
@mixin font-montserrat{
font-family: 'Montserrat', sans-serif;
}
//Mixins
/* Mask */
$color-white: #ffffff;
* {
    box-sizing: border-box;
}
body {
    @include font-lato;
    color: #414141;
}
.section-outer{}
.section-inner{
    width: 1180px;
    margin: 0 auto;
}
.description-item {
    &__icon {
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin-top: 30px;
    }
    &__content{}
    &__text{
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
    }
}
@mixin start-button {
    @include font-montserrat;
    font-size: 18px;
    padding: 16px 20px;
    outline: none;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}


.btn-main {
    @include start-button;
    border: none;
    background: linear-gradient(to right,#FE985B,#FE4FA7);
    color: $color-white;
}

.btn-secondary {
    @include start-button;
    border: 1px solid #414141;
    background: $color-white;
    color: #414141;
}

.btn-free {
    @include start-button;
    border: none;
    background: $color-white;
    color: #414141;
}

//-----
.section-header {
    color: $color-white;
    background: url('../img/header-background.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(20,39,41,0.6);
    }
    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }
    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper {
        &__title,
        &__subtitle{
            text-align: center;
        }
        &__title{
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &__subtitle {
            @include font-montserrat;
            font-size: 18px;
            line-height: 32px;
            width: 80%;
            margin-bottom:0 auto 44px;
        }
        &__form {
            display: flex;
            &-input{
                flex: 1;
                padding-right: 40px;
                input{
                    @include font-montserrat;
                    font-size: 16px;
                    border: none;
                    background: rgba(255,255,255,0.25);
                    color: $color-white;
                    padding: 16px 20px;
                    width: 100%;
                    outline: none;
                    border-radius: 4px;
                    &::placeholder{
                        color: $color-white;
                    }
                }
            }
            &-button {}
        }
    }
}
//-----------------
.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-first {
    display: flex;
    &__content,&__video {
        flex-basis: 50%;
    }
    &__content {
        padding-right: 90px;
        .title{
            font-size: 32px;
            line-height: 51px;
            font-weight: bold;
            margin-bottom: 56px;
        }
        .description-item {
            margin-top: 28px;
        }
    }
    &__video {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.section-promo-second {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    .description-item + .description-item {
        margin-left: 40px;
    }
}

.section-founder {
    background: #F6FAFD;
    padding-top: 34px;
    .section-inner {
        display: flex;
    }
    &__img {
        align-self: flex-end;
    }
    &__content {
        align-self: center;
        padding-left: 50px;
        &-text {
            @include font-montserrat;
            font-size: 24px;
            line-height: 40px;
        }
        &-name {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
        &-post {
            font-size: 20px;
            line-height: 29px;
        }
    }
}

.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    &__title {
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin:0 auto 80px;
        width: 50%;
    }   
    &__list {
        display: flex;
        justify-content: center;
        &-item {
            flex-basis: 370px;
            list-style: none;
            padding: 60px 45px;
            &_title {
                font-size: 14px;
                line-height: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            &_price {
                margin-bottom: 26px;
                .left {
                    color: #FE4FA7;
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                }
                .right {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }
            }
            &_description {
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            &_button {}
            &.active {
                background-color: #F6FAFD;  
            }
        }
    }
}

.section-free {
    text-align: center;
    color: $color-white;
    background: linear-gradient(to right,#FE985B,#FE4FA7);
    padding-top: 120px;
    padding-bottom: 120px;
    &__title {
        font-size: 55px;
        line-height: 60px;
        font-weight: bold;
        margin-bottom: 26px;
    }
    &__description {
        @include font-montserrat;
        font-size: 20px;
        line-height: 30px;
        width: 50%;
        margin: 0 auto 40px;
    }
}